@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700); /*Cursivas - Titulos "'Dancing Script', cursive"*/
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900); /*General "'Lato', sans-serif" */
//300 light, 400 regular, 700 bold, 900 black.
$fontGeneral: "Lato";
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;
$fontTitulos: "Dancing Script";