footer{  
  background-color: $orange;
  #footer{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    padding: 60px;
    .left{
      width: 50%;
      .logo{
        height: 100px;
        margin-bottom: 40px;
        a{
          background:url(../images/logo_footer.svg) no-repeat; height: 100px;display:block;
        }
      }
    }
    .right{
      width: 50%;
    }
  }
}