.top{background:#fff; height:80px; width:100%; padding: 10px 0px; position: fixed; z-index:10;
	.center{width:1004px; position: relative; margin:0 auto;padding:0px 20px;
		#logo{padding:0px; position: relative; width: 210px; height:70px; float:left; top: 0px; opacity: 1; transition: all 0.5s ease-in-out;
            h1 {background:url(../images/logo.svg) -15px -20px/230px auto no-repeat; height:70px; width:auto; display:block; text-indent:-9999px; margin: 0 auto;
            a {display:block; height:70px; text-indent:-9999px;}
			}
		}
		.menu{width:654px; margin: 0px;float:right;position: relative;padding:0px;padding: 0px;top: -10px;height:70px;
			.item_menu{height:70px; padding:27px 0px;text-align:center;width: 16%;float:left;margin: 0px;}
			.noticias:hover{background:url(../images/btn_noticias.svg) 23px 0px/60px auto no-repeat; }
			a{margin-top: 40px;float: left;text-align: center;width: 90px;position: relative;font:'Lato', sans-serif; font-size:14px; line-height:16px; color:#000; font-weight:300; padding:0px 10px; text-decoration:none;height:20px;}
		}
		.search{display:none;}
		.fb_iframe_widget{position: absolute; top:5px; right:0px;}
	}
}
