#home{
  width: 100%;
  .slides{
    position: relative;
    .rslides {
      position: relative;
      list-style: none;
      overflow: hidden;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .rslides li {
      -webkit-backface-visibility: hidden;
      position: absolute;
      display: none;
      width: 100%;
      left: 0;
      top: 0;
    }

    .rslides li:first-child {
      position: relative;
      display: block;
      float: left;
    }

    .rslides img {
      display: block;
      height: auto;
      float: left;
      width: 100%;
      border: 0;
    }
    .prev{
      background:url(../images/btn_slide_izq.svg) no-repeat; 
      height: 50px;
      width: 57px;
      display: block;
      position: absolute;
      top: 20px;
      left: -5px;
      z-index: 10;
    }
    .next{
      background:url(../images/btn_slide_der.svg) no-repeat; 
      height: 50px;
      width: 57px;
      display: block;
      position: absolute;
      top: 20px;
      right: 0px;
      background-position-x: 5px;
      z-index: 10;
    }
  }
  .container{
    margin: 0 auto;
    width: 1240px;
  }
}