#tabs{background-color: #FFF;border: 1px solid #DDD;padding: 10px;position: absolute;right: -1px;top: 150px;z-index: 3;
    ul{border-bottom: none !important; padding: 10px !important; }
    .primary li a{border-color: #bbb;border-style: solid solid none solid;border-width: 1px;height: auto;margin-right: 0.5em;padding: 0 1em;text-decoration: none;}
    li a{background: none repeat scroll 0 0 #F8F8F8 !important;border: 1px solid #DDD !important;color: #666;display: inline-block;font: 10px/10px Arial;padding: 5px !important;text-align: center;text-transform: uppercase;}
}
#page{width: 100%; position: relative; float:left;}

//SECCION
#secciones{
  height: auto;
  margin: 50px 0;
  position: relative;
  width: 100%;
  .tituloSeccion{
    margin: 50px auto;
    width: 200px;
    font-size: 32px;
    color: orange;
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
  }
  .view-content{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    .views-row{
      max-width: 499px;
      position: relative;
      margin-bottom: 50px;
      a{
        text-decoration: none;
        color: $negro;
        font-size: 20px;
        line-height: 0;
        font-weight: $light;
        display: block;
      }
      .nota{
        .foto{}
        .seccion{ display: none; }
        .text{
          width: 400px;
          height: auto;
          background-color: #F7931E;
          padding: 10px 35px;
          box-sizing: border-box;
          margin: 0 auto;
          a{
            font-size: 30px;
            font-weight: $black;
            line-height: 32px;
          }
          .title{
            margin: 10px 0 0 0;
          }
        }
      }
    }//Fin views
  }//Fin view content
  .item-list{
    .pager{
      .pager-item, .pager-next, .pager-last, .pager-previous, .pager-first{
        background-color: $orange;
        padding: 10px;
        border-radius: 2px;
        a{
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}
//FIN SECCION

//VIDEO
#video_{width:1024px;padding:20px 0px;margin:0 auto; position: relative;margin-top:50px;
    .contenido{position: relative; float:left;
        .video{display:none;}
        .video-player{position: relative; float:left; border: none;}
        .etiquetas{background:#FF8801; width: 955px;position: relative;float: left;margin: 20px 0px;height: 40px;margin-left: 70px;
            .triangulo{width: 0;height: 0;border-top: 35px solid transparent;border-left: 14px solid #000;border-bottom: 35px solid transparent; position: absolute;left: 10px;top: -15px;}
            .icon{background:url(../images/iconos/icono_d.svg) -4px -1px/90px auto no-repeat #000;height: 50px;width: 70px;float: left;position: absolute;padding: 10px 5px;top: -15px;left: -70px;} 
            a{color:#fff; float:left; position: relative;font-size:20px;font-weight:300; text-decoration:none; margin-left: 30px;padding: 10px 0px;font-style: italic;}
        }
        .izq{width:320px; margin-right:20px; border-right: 1px solid #000; height:auto; float:left;
            .ingredientes{padding:0px 10px;font-weight:300;font-size:18px;width:270px;color:#666;margin:0px 15px;
                h2{font-weight:400;font-size:20px;width:280px;color:#FF8801;}
                strong{font-weight:500; color:#000;}

            }
            .tiempo{width:300px; padding:0px 10px;font-weight:300;font-size:20px;width:280px;color:#FF8801;
                .icono{background:url(../images/iconos/icono_tiempo.svg) 0px 0px/40px auto no-repeat;height: 40px;width: 50px;float:left;position: relative;}       
                span{width: 230px;float:left;position: relative;height: 50px;
                    .field p{margin:15px 0px;}
                }
            }
            .chef{padding:0px 10px;font-weight:300;font-size:20px;width:280px;color:#FF8801;
                .icono{background:url(../images/iconos/icono_chef.svg) 0px 0px/40px auto no-repeat;height: 40px;width: 50px;float:left;position: relative;}         
                span{width: 230px;float:left;position: relative;height: 50px;
                    .field p{margin:11px 0px;}
                }
            }

            .fecha{width:300px; padding:0px 10px;
                .icono{background:url(../images/iconos/icono_fecha.svg) 0px 0px/55px auto no-repeat;height: 50px;width: 60px;float:left;position: relative;} 
                .dia{font-size:18px; font-weight:400; color:#FF8801; height:50px; width:210px; margin-top:10px;float:left;
                    label{font-weight:400;font-size:16px;width:210px;color:#000;}
                }
            }
            .seccion{width:300px; padding:0px 10px; margin-bottom:20px;
                .icono{background:url(../images/iconos/icono_seccion.svg) 3px 7px/50px auto no-repeat;height: 50px;width: 60px;float:left;position: relative;} 
                .tax{width:210px; margin-top:10px; float:left;
                    a{font-size:18px; font-weight:400; color:#FF8801; height:50px; text-decoration:none;}
                    a:hover{text-decoration:underline;}
                    label{font-weight:400;font-size:16px;width:210px;color:#000;}
                }
            }
            .redes_sociales{position: relative;float:left;width:280px;padding:0px; height: 30px;margin: 20px 20px;
                li{list-style:none; float:left; position: relative; width:40px;height:40px; margin:5px 10px;cursor:pointer;margin:0px;}
                .fb{ 
                    .st_facebook_large{background: url(../images/compartir.svg) no-repeat -5px -4px/270px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
                }
                .tw{ 
                    .st_twitter_large{background: url(../images/compartir.svg) no-repeat -45px -4px/270px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
                }
                .go{ 
                    .st_googleplus_large{background: url(../images/compartir.svg) no-repeat -85px -4px/270px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
                }
                .pin{ 
                    .st_pinterest_large{background: url(../images/compartir.svg) no-repeat -124px -4px/270px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
                }
                .wp{
                    .st_whatsapp_large{background:url(../images/compartir.svg) no-repeat -163px -4px/270px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
                }
            }
        //Recomendados
        .view-id-detalle.view-display-id-block{width:300px; height:auto; float:left; padding:0px 10px;
            h2{font-family: 'Dancing Script', cursive;font-size: 30px;width: 280px;padding: 15px 10px;text-align: center;height: auto;background: #000;color: #fff;margin: 5px 0px;}
            .views-row{width:300px; border-bottom:1px solid #000; float:left; margin-bottom:20px;}
            .restaurante{width:280px; position: relative; float:left; height:auto;
                .foto{width:280px; height:180px; position: relative; float:left;border:1px solid #000;margin:0px 10px;
                    img{width:280px; height:180px;}
                    img:hover{opacity:0.8;}
                }
                .nombre{width:280px; height:30px; position: relative; float:left;margin:10px;background:url(../images/iconos/icono_cubiertos.svg) 0px -5px/40px auto no-repeat;
                    a{margin-left:50px; text-align:left;color:#000;font-size:20px; font-weight:400; text-decoration:none;height:30px;float:left; padding:5px 0px 0px 0px;}
                }
            }
        }
        //FIN Recomendados
        //Promociones
        .view-id-detalle.view-display-id-block_1{width:300px; height:auto; float:left; padding:0px 10px;
            h2{font-family: 'Dancing Script', cursive;font-size: 30px;width: 280px;padding: 15px 10px;text-align: center;height: auto;background: #000;color: #fff;margin: 5px 0px;}
            .views-row{width:300px; float:left; margin-bottom:20px;}
            .promocion{width:280px; position: relative; float:left; height:auto;
                .foto{width:280px; height:auto; position: relative; float:left;border:1px solid #000;margin:0px 10px;
                    img{width:280px; height:auto;}
                    img:hover{opacity:0.8;}
                }
            }
        }
        //FIN Promociones
        
        }//FIN IZQUIERDA
        .der{width: 660px;height: auto;float: left;padding: 0px 20px 0px 0px;
            h1{font-family: 'Dancing Script', cursive;font-size: 40px; line-height:42px; width: 100%;margin: 0 auto;padding: 0px 0px 20px 0px;text-align: left;height: auto;}
            .texto{color:#666; font-weight:300;font-size:18px;line-height:20px;
                a{color:#FF8801; text-decoration:none;}
                a:hover{text-decoration:underline;}
            }
        }
        .abajo{width:1024px;height: auto;float: left;padding: 20px 0px;position: relative;
            //Mas recetas
            .view-id-mas.view-display-id-block_1{width:1024px; height:auto; float:left; padding:10px 0px;
                h2{font-family: 'Dancing Script', cursive;font-size: 40px;width: 1024px; height:30px; padding: 20px 0px;text-align: center;height: auto;background: #000;color: #fff;margin: 5px 0px 20px 0px;}
                .views-row{width:500px;float:left; margin:0px 24px 20px 0px;}
                .views-row-2, .views-row-4, .views-row-6, .views-row-8, .views-row-10, .views-row-12{margin:0px 0px 20px 0px;}
                .nota{width:500px; position: relative; float:left; height:auto; background:#fff;border:1px solid #E8E7E8;
                    .seccion{background:#FF8801; padding:3px 5px; position: absolute; top:10px;left:0px; z-index:1;
                        a{color:#fff; text-decoration:none;}
                    }
                    .icon{opacity:1; display:block;background: url(../images/iconos/video.svg) -10px 15px/140px auto no-repeat;height: 110px;width: 110px;display: block;text-indent: -9999px;float: left;position: absolute;left: 60px;top: 100px;opacity:0.7; z-index: 1; transition: all 0.5s ease-in-out;}    
                    .video{width:235px; height:310px; position: relative; float:left;margin:0px; display:block;
                        img{width:235px; height:310px}
                        img:hover{opacity:0.8;}
                    }
                    .info{position: relative; background:#fff; width: 245px; height:auto; opacity: 1; float:left; transition: all 0.5s ease-in-out;
                        .titulo{width:220px;font-size:20px; font-weight:300; text-transform:uppercase; line-height:22px; position: relative;text-align:center;padding: 10px 10px;
                            a{color: #000; text-decoration:none;}
                        }
                        .resumen{width:220px; font-size:18px; line-height:20px; text-transform:none; padding:10px;position: relative;float:left;text-align:center;font-weight: 300;}
                        .mas{background: #000;border-radius: 22px;width: 70px; padding:10px 10px; text-align:center; position: relative; float:left; margin:0px 75px 10px;
                            a{position: relative;color: #fff;font-size: 18px;font-weight: 300;text-align: center;margin: 0 auto;text-decoration: none;}
                        }
                    }
                }
            }
            //Fin Mas recetas
        }//FIN BOTTOM
    }
}
//FIN VIDEO

//ESTABLECIMIENTO
#establecimiento{position: relative;margin-top:50px;
        .foto{width:100%; height:550px; position: relative; float:left; margin-bottom:20px;overflow:hidden;top:20px;
            img {z-index:-100;width: 100%; height: auto;background-size: cover;}
        }
    .contenido{position: relative; width:1024px;padding:20px 0px;margin:0 auto; 

        .especialidad{background:#FF8801; width: 955px;position: relative;float: left;margin: 20px 0px;height: 40px;margin-left: 70px; 
            .triangulo{width: 0;height: 0;border-top: 35px solid transparent;border-left: 14px solid #000;border-bottom: 35px solid transparent; position: absolute;left: 10px;top: -15px;}
            .icon{background:url(../images/iconos/icono_d.svg) -4px -1px/90px auto no-repeat #000;height: 50px;width: 70px;float: left;position: absolute;padding: 10px 5px;top: -15px;left: -70px;} 
            span{color:#fff; float:left; position: relative;font-size:20px;font-weight:300; text-decoration:none; margin-left: 30px;padding: 10px 0px;font-style: italic;}
        }
        .izq{width:320px; margin-right:20px; border-right: 1px solid #000; height:auto; float:left;
            .fecha{width:300px; padding:0px 10px;
                .icono{background:url(../images/iconos/icono_fecha.svg) 0px 0px/55px auto no-repeat;height: 50px;width: 60px;float:left;position: relative;} 
                .dia{font-size:18px; font-weight:400; color:#FF8801; height:50px; width:210px; margin-top:10px;float:left;
                    label{font-weight:400;font-size:16px;width:210px;color:#000;}
                }
            }
            .seccion{width:300px; padding:0px 10px; margin-bottom:20px;
                .icono{background:url(../images/iconos/icono_seccion.svg) 3px 7px/50px auto no-repeat;height: 50px;width: 60px;float:left;position: relative;} 
                .tax{width:210px; margin-top:10px; float:left;
                    a{font-size:18px; font-weight:400; color:#FF8801; height:50px; text-decoration:none;}
                    a:hover{text-decoration:underline;}
                    label{font-weight:400;font-size:16px;width:210px;color:#000;}
                }
            }
            .redes_sociales{position: relative;float:left;width:280px;padding:0px; height: 30px;margin: 20px 20px;
                li{list-style:none; float:left; position: relative; width:40px;height:40px; margin:5px 10px;cursor:pointer;margin:0px;}
                .fb{ 
                    .st_facebook_large{background: url(../images/compartir.svg) no-repeat -5px -4px/270px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
                }
                .tw{ 
                    .st_twitter_large{background: url(../images/compartir.svg) no-repeat -45px -4px/270px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
                }
                .go{ 
                    .st_googleplus_large{background: url(../images/compartir.svg) no-repeat -85px -4px/270px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
                }
                .pin{ 
                    .st_pinterest_large{background: url(../images/compartir.svg) no-repeat -124px -4px/270px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
                }
                .wp{
                    .st_whatsapp_large{background:url(../images/compartir.svg) no-repeat -163px -4px/270px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
                }
            }
        //Recomendados
        .view-id-detalle.view-display-id-block_3{width:300px; height:auto; float:left; padding:0px 10px;
            h2{font-family: 'Dancing Script', cursive;font-size: 30px;width: 280px;padding: 15px 10px;text-align: center;height: auto;background: #000;color: #fff;margin: 5px 0px;}
            .views-row{width:300px; border-bottom:1px solid #000; float:left; margin-bottom:0px;}
            .establecimiento{width:280px; position: relative; float:left; height:auto; padding:5px 10px;
                .icono{background: url(../images/iconos/icono_establecimiento.svg) 0px 4px/44px auto no-repeat;height: 44px;width: 48px;float: left;position: relative;} 
                .nombre{width:200px; height:30px; position: relative; float:left;margin:15px 0px 0px 0px;
                    a{margin-left:0px; text-align:left;color:#000;font-size:20px; font-weight:400; text-decoration:none;height:20px;float:left; padding:5px 0px 0px 0px;}
                }
            }
        }
        //FIN Recomendados
        //Promociones
        .view-id-detalle.view-display-id-block_1{width:300px; height:auto; float:left; padding:0px 10px;
            h2{font-family: 'Dancing Script', cursive;font-size: 30px;width: 280px;padding: 15px 10px;text-align: center;height: auto;background: #000;color: #fff;margin: 5px 0px;}
            .views-row{width:300px; float:left; margin-bottom:20px;}
            .promocion{width:280px; position: relative; float:left; height:auto;
                .foto{width:280px; height:auto; position: relative; float:left;border:1px solid #000;margin:0px 10px;
                    img{width:280px; height:auto;}
                    img:hover{opacity:0.8;}
                }
            }
        }
        //FIN Promociones
        
        }//FIN IZQUIERDA
        .der{width: 660px;height: auto;float: left;padding: 0px 20px 0px 0px;
            h1{font-family: 'Dancing Script', cursive;font-size: 40px; line-height:42px; width: 100%;margin: 0 auto;padding: 0px 0px 20px 0px;text-align: left;height: auto;}
            .texto{color:#666; font-weight:300;font-size:18px;line-height:20px;margin-top:150px;
                a{color:#FF8801; text-decoration:none;}
                a:hover{text-decoration:underline;}
            }
            .logo{max-width:50%; height:auto; position: relative; float:left;}
            .valoracion{float:right; position: relative; }
        }
        .abajo{width:1024px;height: auto;float: left;padding: 20px 0px;position: relative;
            //Mapa
            .mapa{width:1024px; height:auto; float:left; padding:10px 0px;
                h2{font-family: 'Dancing Script', cursive;font-size: 40px;width: 1024px; height:30px; padding: 20px 0px;text-align: center;height: auto;background: #000;color: #fff;margin: 5px 0px 20px 0px;}
                .i4ewOd-pzNkMb-haAclf{display:none !important;}
            }
            //FIN Mapa
            //Mas establecimientos
            .view-id-mas.view-display-id-block_3{width:1024px; height:auto; float:left; padding:10px 0px;
                h2{font-family: 'Dancing Script', cursive;font-size: 40px;width: 1024px; height:30px; padding: 20px 0px;text-align: center;height: auto;background: #000;color: #fff;margin: 5px 0px 20px 0px;}
                .views-row{width:500px;float:left; margin:0px 24px 20px 0px;}
                .views-row-2, .views-row-4, .views-row-6, .views-row-8, .views-row-10, .views-row-12{margin:0px 0px 20px 0px;}
                .nota{width:500px; position: relative; float:left; height:auto; background:#fff;border:1px solid #E8E7E8;
                    .foto{width:235px; height:310px; position: relative; float:left;margin:0px; top:0px;
                        img{width:235px; height:310px}
                        img:hover{opacity:0.8;}
                    }
                    .info{position: relative; background:#fff; width: 245px; height:auto; opacity: 1; float:left; transition: all 0.5s ease-in-out;
                        .titulo{width:220px;font-size:20px; font-weight:300; text-transform:uppercase; line-height:22px; position: relative;text-align:center;padding: 10px 10px;
                            a{color: #000; text-decoration:none;}
                        }
                        .resumen{width:220px; font-size:18px; line-height:20px; text-transform:none;  padding:10px;position: relative;float:left;text-align:center;font-weight: 300;}
                        .mas{background: #000;border-radius: 22px;width: 70px; padding:10px 10px; text-align:center; position: relative; float:left; margin:0px 75px 10px;
                            a{position: relative;color: #fff;font-size: 18px;font-weight: 300;text-align: center;margin: 0 auto;text-decoration: none;}
                        }
                    }
                    
                }
            }
            //Fin Mas notas
        }//FIN BOTTOM
    }
}
//FIN ESTABLECIMIENTO


//PERSONAJE
#personaje{position: relative;margin-top:50px;
    .branding{width:100%; height:550px; position: relative; float:left; margin-bottom:50px;overflow:hidden;top:20px;
        img {z-index:-100;width: 100%; height: auto;background-size: cover;}
    }
    .contenido{position: relative; width:1024px;padding:20px 0px;margin:0 auto; 
        .etiquetas{background:#FF8801; width: 955px;position: relative;float: left;margin: 20px 0px;height: 40px;margin-left: 70px;
            .triangulo{width: 0;height: 0;border-top: 35px solid transparent;border-left: 14px solid #000;border-bottom: 35px solid transparent; position: absolute;left: 10px;top: -15px;}
            .icon{background:url(../images/iconos/icono_d.svg) -4px -1px/90px auto no-repeat #000;height: 50px;width: 70px;float: left;position: absolute;padding: 10px 5px;top: -15px;left: -70px;} 
            a{color:#fff; float:left; position: relative;font-size:20px;font-weight:300; text-decoration:none; margin-left: 30px;padding: 10px 0px;font-style: italic;}
        }
        .izq{width:600px; margin-right:20px; border-right:none; height:auto; float:left;
            h1{font-family: 'Dancing Script', cursive;font-size: 40px; line-height:42px; width: 100%;margin: 0 auto;padding: 0px 0px 20px 0px;text-align: center;height: auto;}
            .texto{color:#666; font-weight:300;font-size:18px;line-height:20px;
                a{color:#FF8801; text-decoration:none;}
                a:hover{text-decoration:underline;}
            }
            .fecha{width:300px; padding:0px 10px;
                .icono{background:url(../images/iconos/icono_fecha.svg) 0px 0px/55px auto no-repeat;height: 50px;width: 60px;float:left;position: relative;} 
                .dia{font-size:18px; font-weight:400; color:#FF8801; height:50px; width:210px; margin-top:10px;float:left;
                    label{font-weight:400;font-size:16px;width:210px;color:#000;}
                }
            }
            .redes_sociales{position: relative;float:left;width:280px;padding:0px; height: 30px;margin: 20px 20px;
                li{list-style:none; float:left; position: relative; width:40px;height:40px; margin:5px 10px;cursor:pointer;margin:0px;}
                .fb{ 
                    .st_facebook_large{background: url(../images/compartir.svg) no-repeat -5px -4px/270px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
                }
                .tw{ 
                    .st_twitter_large{background: url(../images/compartir.svg) no-repeat -45px -4px/270px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
                }
                .go{ 
                    .st_googleplus_large{background: url(../images/compartir.svg) no-repeat -85px -4px/270px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
                }
                .pin{ 
                    .st_pinterest_large{background: url(../images/compartir.svg) no-repeat -124px -4px/270px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
                }
                .wp{
                    .st_whatsapp_large{background:url(../images/compartir.svg) no-repeat -163px -4px/270px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
                }
            }
        //Recomendados
        .view-id-detalle.view-display-id-block{width:300px; height:auto; float:left; padding:0px 10px;
            h2{font-family: 'Dancing Script', cursive;font-size: 30px;width: 280px;padding: 15px 10px;text-align: center;height: auto;background: #000;color: #fff;margin: 5px 0px;}
            .views-row{width:300px; border-bottom:1px solid #000; float:left; margin-bottom:20px;}
            .restaurante{width:280px; position: relative; float:left; height:auto;
                .foto{width:280px; height:180px; position: relative; float:left;border:1px solid #000;margin:0px 10px;
                    img{width:280px; height:180px;}
                    img:hover{opacity:0.8;}
                }
                .nombre{width:280px; height:30px; position: relative; float:left;margin:10px;background:url(../images/iconos/icono_cubiertos.svg) 0px -5px/40px auto no-repeat;
                    a{margin-left:50px; text-align:left;color:#000;font-size:20px; font-weight:400; text-decoration:none;height:30px;float:left; padding:5px 0px 0px 0px;}
                }
            }
        }
        //FIN Recomendados
        //Promociones
        .view-id-detalle.view-display-id-block_1{width:300px; height:auto; float:left; padding:0px 10px;
            h2{font-family: 'Dancing Script', cursive;font-size: 30px;width: 280px;padding: 15px 10px;text-align: center;height: auto;background: #000;color: #fff;margin: 5px 0px;}
            .views-row{width:300px; float:left; margin-bottom:20px;}
            .promocion{width:280px; position: relative; float:left; height:auto;
                .foto{width:280px; height:auto; position: relative; float:left;border:1px solid #000;margin:0px 10px;
                    img{width:280px; height:auto;}
                    img:hover{opacity:0.8;}
                }
            }
        }
        //FIN Promociones
        
        }//FIN IZQUIERDA
        .der{width: 380px;height: auto;float: left;padding: 0px 20px 0px 0px; top:-300px; position: relative;
            .foto{width:380px; height:auto; position: relative; float:left; margin-bottom:0px; border-bottom:4px solid #FF8801;
                img{width:380px; height:auto;}
            }
        }
        .abajo{width:1024px;height: auto;float: left;padding: 20px 0px;position: relative;
            //Mas personajes
            .view-id-mas.view-display-id-block_2{width:1024px; height:auto; float:left; padding:10px 0px;
                h2{font-family: 'Dancing Script', cursive;font-size: 40px;width: 1024px; height:30px; padding: 20px 0px;text-align: center;height: auto;background: #000;color: #fff;margin: 5px 0px 20px 0px;}
                .views-row{width:500px;float:left; margin:0px 24px 20px 0px;}
                .views-row-2, .views-row-4, .views-row-6, .views-row-8, .views-row-10, .views-row-12{margin:0px 0px 20px 0px;}
                .nota{width:500px; position: relative; float:left; height:auto; background:#fff;border:1px solid #E8E7E8;
                    .seccion{background:#FF8801; padding:3px 5px; position: absolute; top:10px;left:0px; z-index:1;
                        a{color:#fff; text-decoration:none;}
                    }
                    .icon{opacity:1; display:block;background: url(../images/iconos/video.svg) -10px 15px/140px auto no-repeat;height: 110px;width: 110px;display: block;text-indent: -9999px;float: left;position: absolute;left: 60px;top: 100px;opacity:0.7; z-index: 1; transition: all 0.5s ease-in-out;}    
                    .foto{width:235px; height:310px; position: relative; float:left;margin:0px; display:block; overflow:hidden;
                        img{width:235px; height:auto;}
                        img:hover{opacity:0.8;}
                    }
                    .info{position: relative; background:#fff; width: 245px; height:auto; opacity: 1; float:left; transition: all 0.5s ease-in-out;
                        .titulo{width:220px;font-size:20px; font-weight:300; text-transform:uppercase; line-height:22px; position: relative;text-align:center;padding: 10px 10px;
                            a{color: #000; text-decoration:none;}
                        }
                        .resumen{width:220px; font-size:18px; line-height:20px; text-transform:none; padding:10px;position: relative;float:left;text-align:center;font-weight: 300;}
                        .mas{background: #000;border-radius: 22px;width: 70px; padding:10px 10px; text-align:center; position: relative; float:left; margin:0px 75px 10px;
                            a{position: relative;color: #fff;font-size: 18px;font-weight: 300;text-align: center;margin: 0 auto;text-decoration: none;}
                        }
                    }
                    
                }
            }
            //Fin Mas personajes
        }//FIN BOTTOM
    }
}
//FIN PERSONAJE
