/* line 1, ../../sass/components/footer.scss */
.bottom {
  background: black;
  height: 320px;
  width: 100%;
  padding: 10px 0px;
  float: left;
  position: relative;
}
/* line 2, ../../sass/components/footer.scss */
.bottom .center {
  width: 1004px;
  position: relative;
  margin: 0 auto;
  padding: 0px 20px;
  /*Redes*/
}
/* line 3, ../../sass/components/footer.scss */
.bottom .center #logo {
  padding: 0px;
  position: relative;
  width: 210px;
  height: 70px;
  margin: 0 auto;
  top: -10px;
  opacity: 1;
  margin-top: 10px;
  transition: all 0.5s ease-in-out;
}
/* line 4, ../../sass/components/footer.scss */
.bottom .center #logo h1 {
  background: url(../images/logo_footer.svg) 5px -7px/175px auto no-repeat;
  height: 70px;
  width: auto;
  display: block;
  text-indent: -9999px;
  margin: 0 auto;
}
/* line 5, ../../sass/components/footer.scss */
.bottom .center #logo h1 a {
  display: block;
  height: 70px;
  text-indent: -9999px;
}
/* line 8, ../../sass/components/footer.scss */
.bottom .center .copy {
  margin: 0 auto;
  width: 650px;
  padding: 20px 0px;
}
/* line 9, ../../sass/components/footer.scss */
.bottom .center .copy .txt {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
/* line 10, ../../sass/components/footer.scss */
.bottom .center .copy .red {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  width: 235px;
  margin: 0 auto;
  color: #fff;
  margin-top: 20px;
}
/* line 11, ../../sass/components/footer.scss */
.bottom .center .copy .red span {
  text-transform: uppercase;
}
/* line 14, ../../sass/components/footer.scss */
.bottom .center .redes {
  width: 180px;
  height: 75px;
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding: 0px;
}
/* line 15, ../../sass/components/footer.scss */
.bottom .center .redes a {
  margin: 0px;
}
/* line 16, ../../sass/components/footer.scss */
.bottom .center .redes a:hover {
  opacity: 0.8;
}
/* line 17, ../../sass/components/footer.scss */
.bottom .center .redes li.leaf {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* line 19, ../../sass/components/footer.scss */
.bottom .center .redes .facebook a {
  background: url(../images/redes.svg) no-repeat -3px 0px/230px auto transparent;
  position: relative;
  width: 60px;
  height: 60px;
  float: left;
  text-indent: -9999px;
  transition: all 0.2s ease;
}
/* line 22, ../../sass/components/footer.scss */
.bottom .center .redes .twitter a {
  background: url(../images/redes.svg) no-repeat -59px 0px/230px auto transparent;
  position: relative;
  width: 60px;
  height: 60px;
  float: left;
  text-indent: -9999px;
  transition: all 0.2s ease;
}
/* line 25, ../../sass/components/footer.scss */
.bottom .center .redes .instagram a {
  background: url(../images/redes.svg) no-repeat -173px 0px/230px auto transparent;
  position: relative;
  width: 60px;
  height: 60px;
  float: left;
  text-indent: -9999px;
  transition: all 0.2s ease;
}
/* line 28, ../../sass/components/footer.scss */
.bottom .center .redes .youtube a {
  background: url(../images/redes.svg) no-repeat -113px 0px/230px auto transparent;
  position: relative;
  width: 60px;
  height: 60px;
  float: left;
  text-indent: -9999px;
  transition: all 0.2s ease;
}
