/* line 1, ../../sass/components/pautas.scss */
.pauta {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  float: left;
  overflow: hidden;
}

/* line 2, ../../sass/components/pautas.scss */
.pauta_movil {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  float: left;
  overflow: hidden;
  margin: 0 auto;
}

/* line 3, ../../sass/components/pautas.scss */
.anuncio_txt {
  font-size: 9px;
  text-transform: uppercase;
  color: #999;
  margin-bottom: 4px;
}

/* line 4, ../../sass/components/pautas.scss */
.pauta .info {
  background-color: #eee;
}

/* line 5, ../../sass/components/pautas.scss */
.pauta300x250 {
  border: 1px solid #ccc;
}

/* line 6, ../../sass/components/pautas.scss */
.pauta468x60 {
  border: 1px solid #ccc;
  float: left;
}

/* line 7, ../../sass/components/pautas.scss */
.p468x60 {
  width: 468px;
  height: 80px;
  padding: 10px 0px 0px 0px;
  position: relative;
  top: 0px;
}

/* line 8, ../../sass/components/pautas.scss */
.p300x250 {
  width: 300px;
  height: auto;
  /*height: 270px;*/
  padding: 10px 0px 0px 0px;
  position: relative;
  top: 0px;
}

/* line 9, ../../sass/components/pautas.scss */
.p300x600 {
  width: 300px;
  height: auto;
  /*height: 270px;*/
  padding: 10px 0px 0px 0px;
  position: relative;
  top: 0px;
}

/* line 10, ../../sass/components/pautas.scss */
.p300x100 {
  width: 300px;
  height: auto;
  /*height: 100px;*/
  padding: 10px 0px 0px 0px;
  position: relative;
  top: 0px;
}

/* line 11, ../../sass/components/pautas.scss */
.p728x90 {
  width: 728px;
  height: 110px;
  padding: 10px 10px 0px 0px;
  position: relative;
  top: 0px;
}

/* line 12, ../../sass/components/pautas.scss */
.p220x90 {
  width: 220px;
  height: 110px;
  padding: 10px 0px 0px 0px;
  position: relative;
  top: 0px;
}

/* line 13, ../../sass/components/pautas.scss */
.p200x200 {
  width: 200px;
  height: 220px;
  padding: 0px 0px 0px 0px;
  position: relative;
  top: 0px;
  float: left;
}

/* line 14, ../../sass/components/pautas.scss */
.p88x31 {
  width: 88px;
  height: 31px;
  padding: 10px 0px 0px 0px;
  position: relative;
  top: 0px;
  float: left;
  left: 30px;
  margin: 0px;
}

/* line 15, ../../sass/components/pautas.scss */
.p1000x30 {
  width: 1000px;
  height: auto;
  padding: 0px;
  position: relative;
  top: 10px;
  left: -20px;
  z-index: 2;
}

/* line 16, ../../sass/components/pautas.scss */
.p1000x30_nota {
  width: 1000px;
  height: auto;
  padding: 0px;
  position: relative;
  top: -10px;
  left: -20px;
}

/* line 17, ../../sass/components/pautas.scss */
.barraflotante {
  bottom: 0;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  width: 1000px;
  z-index: 100;
}

/* line 18, ../../sass/components/pautas.scss */
.p320x50 {
  width: 320px;
  height: 90px;
  /*height: 270px;*/
  padding: 10px 0px 0px 0px;
  position: relative;
  top: 0px;
}
